---
layout: page
carousel:
  - image: >-
      /uploads/day-bowman-citadel-4-oil-charcoal-and-conte-on-canvas-172-x-200-x-3-cm-dsc-0986.jpg
    caption: Day BOWMAN 'Citadel 4' oil, conte and charcoal on canvas 172 x 200 x 3 cm
    link: /gallery/day-bowman/
  - image: >-
      /uploads/day-bowman-fortress-7-oil-charcoal-and-conte-on-canvas-140-x-150-x-3-cm-dsc-1024-1.jpg
    caption: Day BOWMAN 'Fortress 7' oil, conte and charcoal 140 x 150 cm
    link: /gallery/day-bowman/
  - image: /uploads/5-mb-evocations-20-acr-on-canvas-122-x-132-cm2019-1.jpg
    caption: Chloe Fremantle 'Evocations 25' acrylic on canvas 122 x 132 cm
    link: /gallery/chloe-fremantle/
  - image: /uploads/1-evocations-23-acr-152-x-183-cms-2020-copy-1.jpg
    caption: Chloe FREMANTLE 'Evocations 23' acrylic on canvas 152 x 183 cm
    link: /gallery/chloe-fremantle/
  - image: /uploads/large-bowl-crop.jpg
    caption: >-
      Alan BERMAN, Large Bowl in Dolomite glaze on stoneware clay fired to 1255
      C 220 x 370 mm
    link: /gallery/alan-BERMAN/
  - image: >-
      /uploads/anne-lynchsectrets-of-the-home-waiting-to-be-heard-101x130cmjpeg-copy.jpg
    caption: >-
      Anne LYNCH, Secrets Yet To Be Heard watercolour, ink, wax and collage  101
      x 138 cm
    link: /gallery/anne-lynch/
  - image: /uploads/tree-of-life-three.jpg
    caption: Gerry JUDAH 'Ark Angel' conte and charcoal on paper 75 x 100 cm (framed)
    link: /gallery/gerry-judah/
showsections: true
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
    correct_orientation: true
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---
{% if page.carousel %}
    <!-- <div class="two-thirds no-gutter"> -->
    <section>
      <div class="flexslider">
          <ul class="slides">
            {% for slides in page.carousel %}
            <li>
              {% if slides.link %}
              <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
              {% endif %}
              {% include img.html src=slides.image width=960 alt=slides.caption %}
              {% if slides.link %}
              </a>
            {% endif %}
              {% if slides.caption %}
              <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <!-- </div> -->
      {% endif %}

    <div class="editable">
      <p><em><strong></strong></em></p>
      <p><em><strong></strong></em></p>
      <p><strong></strong></p>
      <p> </p>
      <p>Jenny Blyth has more than twenty five years experience in contemporary art as curator and gallerist. She was Curator at Saatchi Gallery 1990-2002, and ran a floating gallery for ten years thereafter, originating projects and mounting exhibitions largely in London, Manchester and Oxford. Jenny Blyth Fine Art (JBFA) curated 50 exhibitions at Art Jericho, Oxford between 2010-17 and Carey Blyth Gallery, Oxford from 2019-23. Jenny Blyth Fine Art 2024 runs a portfolio for artists providing advice, studio visits, critiques, sourcing projects, exhibitions and awards. Enquiries : <em><a href="mailto:jennyblythart@gmail.com">jennyblythart@gmail.com</a></em>&nbsp;</p>
      <p>Note: Carey Blyth Gallery now closed. See Instagram @careyblythgallery for archive exhibitions.</p>
      <p>Click on Tabs above to see exhibitions, images of artworks with prices and info on individual artists. &nbsp;<strong></strong></p>
      <p><strong>JBFA </strong><strong>CURATORIAL</strong></p>
      <p>In addition to exhibitions, mixed and solo, at Art Jericho and Carey Blyth Gallery, JBFA Curatorial Projects outside of CBG Gallery include :</p>
      <p><em><strong>Light Seeking Light : Paintings by Chloe Fremantle &amp; Peter Blegvad</strong></em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Royal Water Colour Society Galleries, at Whitcomb Street WC2 (October/November 2022)&nbsp;</p>
      <p><em><strong>Seaside Citadels : Paintings by Day Bowman</strong></em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Bermondsey Project Space, London SE1 (June 2021)</p>
      <p><em><strong>Contemplation : Snow Into Water</strong></em>&nbsp; (September/October 2020)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Colour and Patterning in Art : Paintings by Chloe Fremantle; Textile 'paintings' by Cassandra Wall&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The North Wall Arts Centre, Oxford</p>
      <p><em><strong>Touching the Earth</strong></em>&nbsp;(May 2019)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Paintings by Addy Gardner; Sculpture by Martin Smith&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The North Wall Arts Centre, Oxford</p>
      <p><em><strong>Reflections in the Landscape&nbsp; </strong></em>(February 2019)&nbsp;<em><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong></em>Jenny Blyth Photography at Wolfson College, Oxford (February 2019).<strong></strong></p>
      <p><em><strong>Josephine Trotter - Solo Exhibitions</strong></em> (2006, 2008, 2011, 2014, 2016 in Cork Street &amp; Duke St St James London W1)</p>
      <p><strong>CONSULTING &amp; MARKETING (for Artists)</strong></p>
      <p>Studio visits, portfolio critiques and advice on work and path forward, originating and curating projects, securing mixed and solo exhibitions.</p>
      <p><strong></strong>Brochures/Leaflets written and designed around your work - the process involves, image submissions, studio visit and interview, essay/text and brochure published. Request examples <em><a href="mailto:jennyblythart@gmail.com">jennyblythart@gmail.com </a>(PDF and or hard copies).</em></p>
      <p><strong></strong></p>
      <p>If you would like to enquire for consulting or marketing Email for quotes &amp; appointment to <a href="mailto:jennyblythart@gmail.com"><em>jennyblythart@gmail.com</em> </a>(See Contact Tab above).</p>
      <p><strong>LECTURES / INDUSTRY SPECIALIST</strong></p>
      <p><strong></strong>In person or on line : Drawing on twenty five years of experience curating exhibitions, building collections, running galleries and projects etc. Jenny Blyth is available to give talks &amp; lectures and hands on installation as Industry Expert.&nbsp;</p>
      <p>In March 2023 JB curated and hung the Student Exhibition at Morley College, London selecting 45 artworks from 90 submissions.&nbsp; Pre-exhibition zoom lecture on <em><strong>Motivation and Practice</strong></em> for students, curated exhibition selected and hung, and a final Curatorial Talk and walk-around with all participating students (Foundation Yr and Yr 1, 2, 3 Undergraduates/Fine Art).</p>
      <p>For all enquiries, or be added to mailing list email: <a href="mailto:jennyblythart@gmail.com"><em>jennyblythart@gmail.com </em></a>(see Contact Tab above).</p>
    </div>

      {% if showsections == true %}
          <!-- Regular page promotions on front page -->
          {% for section in site.pages %}

          {% if section.frontpage %}

            {% if section.main_image_path %}
              <section class="gallery-cover has-cover" style="background-image: url({{ section.main_image_path }});">
            {% else %}
              <section class="gallery-cover has-cover" style="background-image: url('http://placekitten.com/g/1200/300');">
            {% endif %}
              <a href="{{ section.url | prepend: site.baseurl }}">
                <div class="scrim has-cover">
                  <article class="gallery--front">
                    <header class="gallery-header">
                      <h2 class="title">{{ section.frontpagetitle }}</h2>
                    </header>
                    {% if section.homepage_description_markdown %}
                      {{ section.homepage_description_markdown | markdownify }}<br />
                      <span class="readmore">Read more <span>{{nextPost.title}} <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg></span>

                    {% endif %}
                </span></article>
              </div>
              </a>
            </section>

          {% endif %}

        {% endfor %}

         <!-- Galleries -->
        {% for gallery in site.gallery %}
          {% if gallery.frontpage %}
            <section class="gallery-cover {% if gallery.main_image_path %}has-cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>
              <a href="{{ gallery.url }}">
                <div class="scrim {% if gallery.main_image_path %}has-cover{% endif %}">
                <article class="gallery--front">
                  <header class="gallery-header">
                    <h2 class="title">{{ gallery.title }}</h2>
                  </header>
                  {% if gallery.homepage_description_markdown  %}
                    {{ gallery.homepage_description_markdown | markdownify }}
                  {% endif %}
              </article>
              </div>
            </a>
          </section>
          {% endif %}

    {% endfor %}

  {% endif %}
</section>
