---
layout: page
carousel:
  - image: /uploads/IMG_7013 (1).jpg
    caption:
    link:
  - image: /uploads/IMG_7009 (1).jpg
    caption:
    link:
showsections: true
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
    correct_orientation: true
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---

{% if page.carousel %}
    <!-- <div class="two-thirds no-gutter"> -->
    <section>
      <div class="flexslider">
          <ul class="slides">
            {% for slides in page.carousel %}
            <li>
              {% if slides.link %}
              <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
              {% endif %}
              {% include img.html src=slides.image width=960 alt=slides.caption %}
              {% if slides.link %}
              </a>
            {% endif %}
              {% if slides.caption %}
              <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <!-- </div> -->
      {% endif %}

    <div class="editable">
      <p><strong>Jenny Blyth Fine Art</strong> has a new home at <strong>CAREY BLYTH</strong> a contemporary gallery located in the heart of Oxford at 8 Woodstock Road OX2 6HT (wed-sun 11-5 pm). The gallery shows contemporary art for sale - paintings, sculpture, printmaking and photography. Note: gallery talks Saturdays at 3 pm.</p>
      <p><em>'I find that I am chasing beauty and trust that you will find something beautiful in the gallery to savour for years to come.&nbsp; I have a profound love of the natural world and much of the art that I exhibit is grounded in the tradition of landscape and still life whether abstracted or figurative.</em><em></em></p>
      <p><em>Music and performance are also muse to artists inspiring and informing their practice.&nbsp; In an age where we are overloaded with images it is rewarding to find art that is playful and challenging in equal measure, provoking contemplation and bringing joy.&nbsp; The artists on display are both local and national, each committed to exploring and creating fine art.</em>'</p>
      <p>Currently new work by&nbsp;<strong>ROSE-MARIE CALDECOTT</strong> - fractal based landscapes in oil on aluminium ;<strong>&nbsp;</strong><strong>ANDREW WALTON - </strong>&nbsp;reedbeds and murmurations at Otmoor in ink and oil; &nbsp;<strong>NETTA CAREY&nbsp;</strong>abstracts the quiet strength of the Scottish Highlands to colour field paintings of the rewilding project at Allandale;&nbsp;<strong>MARTIN SMITH</strong>&nbsp;is showing his new sculpture of Lovers in black alabaster.</p>
      <p><em><strong>(See artist tabs in menu above to explore work)</strong></em></p>
      <p><em><strong>Background :</strong></em></p>
      <p>Jenny Blyth has twenty seven years experience in contemporary art as curator and gallerist. She was curator at Saatchi Gallery 1990-2002 and ran a floating gallery for ten years thereafter, originating projects and mounting exhibitions largely in London, Manchester and Oxford. Jenny Blyth Fine Art (JBFA) curated 40 exhibitions at Art Jericho in Oxford between 2010 and 2017. &nbsp;</p>
      <p>Recent exhibitions include&nbsp;<em><strong>Touching the Earth</strong></em> at North Wall Arts Centre, Oxford in May 2019 and an exhibition of photography by <strong>JENNY BLYTH</strong>&nbsp;at Wolfson College, Oxford in February 2019.</p>
    </div>

      {% if showsections == true %}
          <!-- Regular page promotions on front page -->
          {% for section in site.pages %}

          {% if section.frontpage %}

            {% if section.main_image_path %}
              <section class="gallery-cover has-cover" style="background-image: url({{ section.main_image_path }});">
            {% else %}
              <section class="gallery-cover has-cover" style="background-image: url('http://placekitten.com/g/1200/300');">
            {% endif %}
              <a href="{{ section.url | prepend: site.baseurl }}">
                <div class="scrim has-cover">
                  <article class="gallery--front">
                    <header class="gallery-header">
                      <h2 class="title">{{ section.frontpagetitle }}</h2>
                    </header>
                    {% if section.homepage_description_markdown %}
                      {{ section.homepage_description_markdown | markdownify }}<br />
                      <span class="readmore">Read more <span>{{nextPost.title}} <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg></span>

                    {% endif %}
                </span></article>
              </div>
              </a>
            </section>

          {% endif %}

        {% endfor %}

         <!-- Galleries -->
        {% for gallery in site.gallery %}
          {% if gallery.frontpage %}
            <section class="gallery-cover {% if gallery.main_image_path %}has-cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>
              <a href="{{ gallery.url }}">
                <div class="scrim {% if gallery.main_image_path %}has-cover{% endif %}">
                <article class="gallery--front">
                  <header class="gallery-header">
                    <h2 class="title">{{ gallery.title }}</h2>
                  </header>
                  {% if gallery.homepage_description_markdown  %}
                    {{ gallery.homepage_description_markdown | markdownify }}
                  {% endif %}
              </article>
              </div>
            </a>
          </section>
          {% endif %}

    {% endfor %}

  {% endif %}
</section>