---
layout: page
carousel:
  - image: /uploads/desert-cowboys-3.jpg
    caption: Trish WYLIE 'Desert Cowboys' oil on canvas, triptych 5 x 4' each
    link: /gallery/trish-wylie-gallery/
  - image: >-
      /uploads/day-bowman-citadel-4-oil-charcoal-and-conte-on-canvas-172-x-200-x-3-cm-dsc-0986.jpg
    caption: Day BOWMAN 'Citadel 4' oil, conte and charcoal on canvas 172 x 200 x 3 cm
    link: /gallery/day-bowman/
  - image: >-
      /uploads/day-bowman-fortress-7-oil-charcoal-and-conte-on-canvas-140-x-150-x-3-cm-dsc-1024-1.jpg
    caption: Day BOWMAN 'Fortress 7' oil, conte and charcoal 140 x 150 cm
    link: /gallery/day-bowman/
  - image: /uploads/1-evocations-23-acr-152-x-183-cms-2020-copy-1.jpg
    caption: Chloe FREMANTLE 'Evocations 23' acrylic on canvas 152 x 183 cm
    link: /gallery/chloe-fremantle/
  - image: /uploads/5-mb-evocations-20-acr-on-canvas-122-x-132-cm2019-1.jpg
    caption: Chloe Fremantle 'Evocations 25' acrylic on canvas 122 x 132 cm
    link: /gallery/chloe-fremantle/
  - image: /uploads/tree-of-life-three.jpg
    caption: Gerry JUDAH 'Ark Angel' conte and charcoal on paper 75 x 100 cm (framed)
    link: /gallery/gerry-judah/
  - image: /uploads/installation-1-rws-cf-1.jpg
    caption: ''
    link: ''
  - image: ''
    caption: ''
    link: ''
showsections: true
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
    correct_orientation: true
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---
{% if page.carousel %}
    <!-- <div class="two-thirds no-gutter"> -->
    <section>
      <div class="flexslider">
          <ul class="slides">
            {% for slides in page.carousel %}
            <li>
              {% if slides.link %}
              <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
              {% endif %}
              {% include img.html src=slides.image width=960 alt=slides.caption %}
              {% if slides.link %}
              </a>
            {% endif %}
              {% if slides.caption %}
              <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <!-- </div> -->
      {% endif %}

    <div class="editable">
      <p></p>
      <p><strong>Jenny Blyth Fine Art (JBFA)</strong>, curator and floating gallerist, provides a fine art consultancy for a portfolio of artists and collectors providing advice, studio visits and critique, initiating projects, securing sales and curating exhibitions.&nbsp; </p>
      <p>If you are looking for unique contemporary art for your home or work place, see tabs above for images and info on individual artists : </p>
      <p><strong>Day Bowman</strong> has a lifetime of painting under her belt creating beautiful abstracted paintings that explore geopolitics, borders, boundaries and migration. Raised in the West Country on the coast her work is grounded in both the land and the outlying ocean as celebrated in her <em>Seaside Citadels</em> and <em>Marking the Boundary</em> series.</p>
      <p><strong>Chloe Fremantle</strong> is a true colourist composing visual haikus that have elements of synesthesia - a kaleidoscope of contemplations, evocations and reflections that invite us to travel down the rabbit hole.&nbsp; Ever inspired by the beauty of nature, her mark making has become a jazz fusion of motifs and elements developed and balanced over the years.&nbsp; Her compositions have perfect pitch on the canvas.</p>
      <p><strong>Anne Howeson</strong>&nbsp;is a story teller supreme, stepping across time from Georgian London to distopian days.&nbsp; Drawing is her medium creating narrative laid over photography.&nbsp; Haunting and unexpected, her compositions explore the avenues that interest her: the history of London, photography, the movement of people and relationships.&nbsp; Her work around Kings Cross covers a 300 year transition from buccolic pastures to the futuristic urbanity that is Kings X today, a history of lost rivers and people passing through.&nbsp; <em>Volcanoes</em>, her recent work, explores life and ghosts under Vesuvius where she has rural retreat.</p>
      <p><strong>Susan Moxley</strong> lives in both UK and Greece. Home to Aphrodite, her work is infused with the colours and the song of the island she loves. Her textile paintings tell stories of the culture and life that is changing fast as the younger generations embrace contemporary life. SM sees the island as a microcosm of what is happening in so many societies globally. Blacklisted by her homeland of South Africa, SM moved to Europe to make her life here. Politics remain core to her work.</p>
      <p><strong>Cassandra Wall</strong> creates textile paintings that capture the rhythms of the natural world. It is the play of light on water or the movement of saplings in woodlands, rather than the geography. She has long been captivated by the longshore drift.&nbsp; Whether Grecian isles or UK coastlines, her tessellations and hand stitched textiles are beautiful coloured and composed, truly contemporary.&nbsp; </p>
      <p><strong>Trish Wylie</strong> celebrates cinematography defying gender norms with her <em>Desert Paintings</em>. Her work is inspired by iconic film directors such Kazuo Ishiguro, John Ford and John Huston, and time she has spent alone in the Mojave Desert.&nbsp; &nbsp;Her recent commissions include Joahchim Phoenix as <em>Bonaparte</em>, and Olivia Colman as <em>The Queen</em>.&nbsp;&nbsp;</p>
      <p><em>Click on Tabs above to view Artists &amp; Exhibitions, images, prices, text and more...&nbsp;</em>&nbsp;</p>
      <p><strong>JBFA CURATORIAL</strong></p>
      <p>Jenny Blyth has more than twenty five years experience in contemporary art as curator and gallerist. She was Curator at Saatchi Gallery 1990-2002 and curated 50 exhibitions at Art Jericho (2010-17) and Carey Blyth Gallery (2019-23).</p>
      <p>In addition to exhibitions, mixed and solo, at Art Jericho and Carey Blyth Gallery, selected JBFA Curatorial Projects outside of CBG Gallery include :</p>
      <p><em><strong>Light Seeking Light : Paintings by Chloe Fremantle &amp; Peter Blegvad</strong></em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Royal Water Colour Society Galleries, at Whitcomb Street London WC2 <em>October/November 2022</em></p>
      <p><em><strong>Seaside Citadels : Paintings by Day Bowman</strong></em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Bermondsey Project Space, London SE1 <em>June 2021</em></p>
      <p><em><strong>Contemplation : Snow Into Water</strong></em>&nbsp; <em>September/October 2020</em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Colour and Patterning in Art : Paintings by Chloe Fremantle; Textiles by Cassandra Wall at The North Wall Arts Centre, Oxford</p>
      <p><em><strong>Touching the Earth</strong></em>&nbsp; <em>May 2019</em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Paintings by Addy Gardner; Sculpture by Martin Smith&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The North Wall Arts Centre, Oxford</p>
      <p><em><strong>Reflections in the Landscape&nbsp; </strong>February 2019</em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Jenny Blyth Photography at Wolfson College, Oxford</p>
      <p><em><strong>Josephine Trotter - Solo Exhibitions</strong></em> (2006, 2008, 2011, 2014, 2016 in Cork Street &amp; Duke St St James London W1)</p>
      <p><em><strong>Gerry Judah</strong></em> - JBFA commission secured for <em>The Crusader</em><strong>, </strong>Imperial Museum of the North, Manchester; JBFA curated exhibitions include : <em>Frontiers</em> in Shoreditch 2005;&nbsp;<em>Angels</em> at RIBA 2006, London;&nbsp;<em>Motherlands</em> at Louise Blouin Foundation 2007;&nbsp;<em>Country</em> at Wolverhampton Art Gallery 2009; Ark Angels at Carey Blyth Gallery 2023</p>
      <p></p>
      <p><strong>CONSULTING &amp; MARKETING (for Artists)</strong></p>
      <p>Studio visits, portfolio critiques and advice on work and path forward, originating and curating projects, securing mixed and solo exhibitions.</p>
      <p>Text written and leaflets designed around your work - the process involves, image submissions, studio visit and interview, essay/text and brochure published. </p>
      <p>If you would like to enquire about consulting or marketing please email for appointment/quote/view marketing materials email&nbsp;<a href="mailto:jennyblythart@gmail.com"><em>jennyblythart@gmail.com</em>&nbsp;</a></p>
      <p><strong>LECTURES / INDUSTRY SPECIALIST</strong></p>
      <p>In person or on line : Drawing on twenty five years of experience curating exhibitions, building collections, running galleries and projects etc. Jenny Blyth is available to give talks &amp; lectures and hands on installation as Industry Expert.&nbsp;</p>
      <p>In March 2023 JB curated and hung the Student Exhibition at Morley College, London selecting 45 artworks from 90 submissions.&nbsp; Pre-exhibition zoom lecture on <em><strong>Motivation and Practice</strong></em> for students, curated exhibition selected and hung, and a final Curatorial Talk and walk-around with all participating students (Foundation Yr and Yr 1, 2, 3 Undergraduates/Fine Art).</p>
      <p>For all enquiries, or be added to mailing list email: <a href="mailto:jennyblythart@gmail.com"><em>jennyblythart@gmail.com </em></a>(see Contact Tab above).</p>
    </div>

      {% if showsections == true %}
          <!-- Regular page promotions on front page -->
          {% for section in site.pages %}

          {% if section.frontpage %}

            {% if section.main_image_path %}
              <section class="gallery-cover has-cover" style="background-image: url({{ section.main_image_path }});">
            {% else %}
              <section class="gallery-cover has-cover" style="background-image: url('http://placekitten.com/g/1200/300');">
            {% endif %}
              <a href="{{ section.url | prepend: site.baseurl }}">
                <div class="scrim has-cover">
                  <article class="gallery--front">
                    <header class="gallery-header">
                      <h2 class="title">{{ section.frontpagetitle }}</h2>
                    </header>
                    {% if section.homepage_description_markdown %}
                      {{ section.homepage_description_markdown | markdownify }}<br />
                      <span class="readmore">Read more <span>{{nextPost.title}} <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg></span>

                    {% endif %}
                </span></article>
              </div>
              </a>
            </section>

          {% endif %}

        {% endfor %}

         <!-- Galleries -->
        {% for gallery in site.gallery %}
          {% if gallery.frontpage %}
            <section class="gallery-cover {% if gallery.main_image_path %}has-cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>
              <a href="{{ gallery.url }}">
                <div class="scrim {% if gallery.main_image_path %}has-cover{% endif %}">
                <article class="gallery--front">
                  <header class="gallery-header">
                    <h2 class="title">{{ gallery.title }}</h2>
                  </header>
                  {% if gallery.homepage_description_markdown  %}
                    {{ gallery.homepage_description_markdown | markdownify }}
                  {% endif %}
              </article>
              </div>
            </a>
          </section>
          {% endif %}

    {% endfor %}

  {% endif %}
</section>
