<header class="header" role="banner">

    <a href="{{ site.baseurl }}/" class="logo" title="Return home">

      <h1 class="header--logo">{{ site.title }}</h1>

    </a>

</header>

<header class="navigation">

  <div class="navigation-wrapper">

  <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <span class="menu-title">MENU</span> <svg class="icon icon-menu"><use xlink:href="#icon-reorder" /></svg>
  </a>

  <nav role="navigation">
    <ul id="js-navigation-menu" class="dropdown navigation-menu show">

        <li class="nav-link{% if page.url == '/' %} active{% endif %}">
          <a href="/" class="">Home</a>
        </li>
        <li class="nav-link{% if page.url == '/exhibitions/' %} active{% endif %}">
          <a href="/exhibitions/" class="">Exhibitions</a>
        </li>

        <!-- <li class="nav-link{% if page.url == '/about/' %} active{% endif %}">
          <a href="/about/" class="">About</a>
        </li> -->
        <li class="nav-link{% if page.url == '/contact/' %} active{% endif %} last">
          <a href="/contact/" class="">Contact</a>
        </li>
        <!-- end row 1 -->
        {% assign galleries = site.gallery %}

        {% for gallery in galleries %}

          <li class="nav-link{% if page.url == gallery.permalink | prepend: site.baseurl %} active{% endif %}">
            <a href="{{ gallery.permalink | prepend: site.baseurl }}" class="">{{ gallery.title }}</a>
          </li>

        {% endfor %}



    </ul>
  </nav>
  </div>

</header>