// -----------------------------------------------------------------------------
// This file contains all styles related to the header
// -----------------------------------------------------------------------------

.header {
    color: $white;
    background-color: $jbgray;
    width: 100%;
}
.header--logo { // this is the site-title h1 header
    text-align: center;
    text-transform: uppercase;
    color: $white;
        margin-bottom: 0;
        font-size: modular-scale(4);
        @include media ($medium) {
            line-height: 2em;
            font-size: modular-scale(5);
        }
}

.logo {
    text-align: center;
    display: block;
    padding: 0 0.5em;
    @include media ($medium) {
        float: none;
    }
    .subtitle {
        color: $white;
        font-family: $subheading-font-family;
        font-weight: 400;
        font-style: italic;
        font-size: modular-scale(3);
    }
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        color: $white;
    }
    &:active,
    &:focus {
        outline: none;
    }
}
