// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation
// -----------------------------------------------------------------------------

.navigation {
    margin: 0;
   // @include outer-container;
    padding: 0 1em;
    z-index: 99; // to cover over flexslider
    border: none;
    @include media ($medium) {
        padding: 1em 1em;
        border-bottom: 1px solid tint($jbgray, 70%);
    }
}
/// Nav menu
.navigation-wrapper {
    //@include outer-container;
    @include clearfix;
    position: relative;
    //background-color: $white;
}

/// small view
.navigation-menu-button {
    display: block;
    float: left;
    text-align: left;
    margin: 0;
    font-size: 1.5em;
    padding-top: 0;
    color: $navigation-color;
    text-decoration: none;
    .icon-menu {
        fill : $navigation-color;
    }
    &:link {
        color: $navigation-color;
        text-decoration: none;
    }
    &:hover, &:active {
        text-decoration: none;
        color: tint($navigation-color,20%);
        /// menu icon
        .icon-menu {
            fill : tint($navigation-color,20%);
        }
    }
    @include media ($medium) {
        display: none;
    }
}
.menu-title {
    font-size: 0.9em;
    font-weight: 400;
}

nav {
    //float: left;
    @include media ($medium) {
        float: none;
        line-height: 1.5em;
    }
}

ul.navigation-menu {
    clear: both;
    text-align: center;
    text-transform: uppercase;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include media ($medium) {
        display: block;
        margin: 0;
        padding: 0;
    }
    &.show {
        display: block;
    }
}

/// Nav items

li.nav-link {
    display: block;
    text-align: left;
    width: 50%;
    padding: 0;

    border-bottom: 1px solid tint($jbgray,50%);
    @include media ($medium) {
        background: transparent;
        display: inline;
        text-decoration: none;
        width: auto;
        border: none;
    }
    a {
        color: $navigation-color;
        display: block;
        background: tint($jbgray, 90%);
        padding: 0.5em 1em;
        @include media ($medium) {
          display: inline-block;
          background: transparent;
          padding: 0 0.25em;
        }
        &:hover {
          background: tint($jbgray, 70%);
          color: $navigation-color-hover;
          text-decoration: none;
          @include media ($medium) {
             background: transparent;
        }
        }
    }

    &:last-child a {
        @include media ($medium) {
            padding-right: 1em;
        }
    }
}
li.nav-link.active,
li.active {
    a {
        color: $black;
    }
}

.nav-link.last::after {

  @include media ($medium) {
    display: table;
    content: "";
  }
}

.show-menu {
  display: block;
}

// Inspired by code by www.HUSAMUI.com